.btn-add{
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color:  #FCD34D;
    border-radius: 30px solid;
    border-color:  #FCD34D;
    width: 2rem; 
    height: 2rem;
    border-radius: 50%;
    border: 2px solid #FCD34D; 
}

.btn-less{
    font-size: 1rem;
    border: none;
    size: 100px;
    background-color: transparent;
    color:  #FCD34D;
    border-radius: 30px solid;
    border-color:  #FCD34D;
    width: 2rem; 
    height: 2rem;
    border-radius: 50%;
    border: 2px solid #FCD34D; 
}

.btn-add:hover{
    background-color: rgba(227, 227, 227, 0.833);
}

.btn-less:hover{
    background-color: rgba(227, 227, 227, 0.833);
}
