<p-toast />
<p-card [header]="isEditing ? 'Editar producto' : 'Dar de alta producto'">
  <form
    class="flex flex-column gap-4"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex flex-column gap-1">
      <label for="nombre">Nombre</label>
      <input
        formControlName="nombre"
        pInputText
        type="text"
        id="nombre"
        required
      />
    </div>
    <div class="flex flex-column gap-1">
      <label for="precio">Precio</label>
      <p-inputNumber
        formControlName="precio"
        inputId="precio"
        class="p-fluid"
        mode="currency"
        currency="MXN"
        locale="es-MX"
        required
      />
    </div>
    <div class="flex flex-column gap-1">
      <label for="categoria">Categoria</label>
      <p-dropdown
        formControlName="categoria"
        [options]="categorias"
        optionLabel="nombre"
        placeholder="Seleccione una categoría"
        class="p-fluid"
        required
      />
    </div>
    <div class="flex justify-content-center">
      <p-fileUpload
        mode="basic"
        chooseLabel="Escoger imágen"
        chooseIcon="pi pi-upload"
        name="imagen[]"
        accept="image/*"
        maxFileSize="1000000"
      />
    </div>
    <div class="flex gap-3 mt-1">
      <p-button
        label="Cancelar"
        size="large"
        class="w-full"
        styleClass="w-full"
        severity="secondary"
        icon="pi pi-ban"
        (onClick)="onCancel()"
      />
      <p-button
        [label]="isEditing ? 'Actualizar' : 'Agregar'"
        size="large"
        class="w-full"
        styleClass="w-full"
        [icon]="isEditing ? 'pi pi-pencil' : 'pi pi-plus'"
        type="submit"
      />
    </div>
  </form>
</p-card>
