<p-toast />
<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div
      class="flex flex-column align-items-center p-5 surface-overlay border-round"
    >
      <div
        class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem"
      >
        <i class="pi pi-question text-5xl"></i>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-end gap-2 mt-4">
        <p-button
          label="Cancelar"
          severity="secondary"
          [outlined]="true"
          (onClick)="cd.reject()"
        />
        <p-button label="Eliminar" (onClick)="cd.accept()" />
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<p-button
  label="Eliminar"
  severity="danger"
  class="w-full"
  styleClass="w-full"
  icon="pi pi-trash"
  [outlined]="true"
  size="small"
  (onClick)="confirm($event)"
/>
