.label-text-color{
    color: #78350F;
    font-weight: 600;
}

.btn-cobrar{
    background: #78350F;
    border: 1px solid #F59E0B;
    border-radius: 1.2vh;
}

.btn-cobrar:hover {
    background-color: #B45309;
}

.btn-cancelar-venta{
    background: hsl(0, 0%, 49%);
    border: 1px solid hsl(0, 0%, 49%);
    border-radius: 1.2vh;
}
